[TRADE]
START_PRICE=200
END_PRICE=2000
PROFIT_PERCENTAGE=0.005
LOSS_PERENTAGE=0.02

[FILES]
FNO_STOCKS=meta/fno_stocks.txt
FNO_LOT_SIZE=meta/fno_lot_size.txt

[SEEDS]
CBO_SEED_FILE=seeds/cbo_seed.txt
CBO_FNO_SEED_FILE=seeds/cbo_fno_seed.txt

[REF]
MKT_LOTSIZE=ref/fo_mktlots.csv

[KITE]
KITE_API_KEY=yvyxm4vynkq1pj8q
KITE_API_SECRET=53ekyylrx3orbb85l8isj4o291o22g31
